.MainPage {
  margin-top: 80px; /* top margin for header*/
}

body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px; /* padding for the main page*/
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
